
<div class="jumbotron text-center">
	<h3>Agregar otro Usuario</h3>
	  
	<p>{{ message }}</p>

</div>


          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Cuenta</th>
                  <th>Activada</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody ng-repeat="user in users">
	 </tr> <div ng-controller="userController">
             
		<tr>
                <td>{{user.id}}</td>
		<td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.status}}</td>
		<td><a ng-click="deleteUser(user.name)" class="pull-center"><i class="glyphicon glyphicon-trash"></i></a></td>		  			
                </tr>
		</div>
         

                  </tbody>
            </table>
	  </div>