
<span ng-repeat="user in users" ng-controller="httpController">{{USER.NAME}}</span>
<div class="jumbotron text-center">
	<h3>Agregar otro Usuario</h3>
	  
	<p>{{ message }}</p>

</div>


          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Cuenta</th>
                  <th>Activada</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
		       </tr> <div ng-controller="userController">
                <tr ng-repeat="user in users">
                  <td>{{user}}</td>
		  <td>{{user.NAME}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.status}}</td>
                  <td>
			<a ng-click="" class="pull-center">
			<i class="glyphicon glyphicon-trash"></i></a>
		  			
                </tr>
		</div>
                <tr>
                  <td>2</td>
                  <td>San Pedro</td>
                  <td>sanpedro@elcielo.com</td>
                  <td>Activo</td>
                  <td>Borrar - Editar</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>San Pedro</td>
                  <td>sanpedro@elcielo.com</td>
                  <td>Activo</td>
                  <td>Borrar - Editar</td>
                </tr>
                

                  </tbody>
            </table>
	  </div>